body{
    background-color: rgb(255, 0, 85);
}
h1{
    background-color: rgb(76, 175, 167);
    
    
}
section{
    background-color: rgb(156, 196, 64);
}
section2.li.class1{
    background-color: rgb(232, 248, 9);
}
td1{
    background-color: rgb(51, 223, 79);
}
td2{
    background-color: rgb(51, 223, 223);
}
td3{
    background-color: aliceblue;
}